body{
    margin: left 10 right 10;
    background: #dedace /*rgb(247, 246, 243)*/
    text-align: left;
    font-size: 14px;
    font-family: Garamond, Baskerville, Caslon,serif;
    font-weight: 400;
    hr:after {
        content: " ";
        display: block;
        margin: 0 auto;
        width: 100%;
        height: 4px;
        background: black;
    }
}

/* heading-font-family: "New York", Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol; */
