body{
    margin: left 10 right 10;
    background: #f7f6f3 /*rgb(247, 246, 243)*/
    text-align: left;
    font-size: 14px;
    font-family: Garamond, Baskerville, Caslon,serif;
}

/* heading-font-family: "New York", Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol; */